.container {
  max-width: 1080px;
  text-align: center;
  padding: 4rem;
  margin: 50px auto;
  background: linear-gradient(#ffafbd, #ffc3a0);
  color: white;
}
.formControl {
  margin-bottom: 1em;
}
.formControl label {
  display: block;
  margin-bottom: 0.5em;
}
.formControl input {
  height: 50px;
  width: 50%;
  border-style: none;
  border-radius: 20px;
  outline: none;
}
